.screen {
	height: 75px;
	background-color: #000;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	text-align: right;
	margin-top: 10px;
	padding-top: 10px;
}

.calc-body {
	width: 50%;
	margin: 0 auto;
}

.col-xs-3 {
	padding: 0;
}

.btn-calc,
.btn-calc-num {
	height: 75px;
	width: 75px;
	width: 100%;
	background-color: #757575;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
}